.App {
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body {}

.container {
  border: 1px solid black;
  width: 500px;
  margin: 40px auto;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 20px 20px 20px 20px;
}

.pelanggan {
  margin-bottom: 20px;
}

.box {
  display: flex;
  margin-bottom: 20px;
}

.labelBox {
  display: flex;
  align-items: flex-end;
}

.checkBox {
  margin-left: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}