body {
    margin: 0;
    padding: 0;
    background-image: url(/public/img/pattern.jpg);
}

.container {
    background-color: white;
    margin: 50px auto;
    padding: 10px;
    width: 900px;
    box-sizing: border-box;
}


.container .box {
    margin: 1px;
    border: 1px solid grey;
    padding-left: 10px;
}

.box h1 {

    text-align: center;
}

.jenis {
    float: left;
    margin-right: 30px;
}

.input label {
    margin-right: 80px;
}

.area {
    margin-right: 45px;
}

label,
input {
    margin-bottom: 15px;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: beige;
}

.logo-container,
.nav-links {
    display: flex;
}

.logo-container {
    flex: 2;
}

nav {
    flex: 1;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

section {
    background-color: white;
    margin: 50px auto;
    padding: 10px;
    width: 1000px;
    box-sizing: border-box;
}

section h1 {
    text-align: center;
}

section p {
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
}